body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}

.lightBackground {
    background-color: #fafafa;
}

.darkBackground {
    background-color: #ccd4d2;
}
.timer{
    background-color: #ccd4d2;
    width: 300px;
    height: 100px;
    text-align: center;
    margin: auto;
    border: black solid 4px;
}
.timer h1 {
    margin: 0;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer button {
    margin-right: 10px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border-width: 2px;
    background-color: rgb(212, 209, 174);
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.correct {
    color: #34d134;
}

.incorrect {
    color: #f75656;
}
